<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Create new food</h5>
        <button class="close" (click)="hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <form>
            <div class="form-group form-float">
              <div class="form-line">
                <label class="form-label">FoodName</label>
                <input class="form-control" type="text" name="FoodName" [(ngModel)]="food.name" required maxlength="64"
                  minlength="2">
              </div>
            </div>
            <div class="form-group form-float">
              <div class="form-line">
                <label class="form-label">Calorie</label>
                <input type="number" name="Calorie" class="form-control" [(ngModel)]="food.calorie" required>
              </div>
            </div>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="hide()">Close</button>
        <button class="btn btn-primary" (click)="save()">Save changes</button>
      </div>
    </div>
  </div>
</div>
